* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* variables */
  --bg-body: #121212;
  --bg-nav: #242424;
  --violet: #9013fe;
  --bg: #1b1b1b;
  --light-400: rgb(238, 231, 231);
  --light-300: rgb(180, 172, 172);
  --light-200: rgb(146, 139, 139);
}
body {
  color: white;
  background-color: var(--bg-body);
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
button {
  border: none;
  background-color: transparent;
}
input:focus {
  outline: 0;
}
/* global classes */
.text-header {
  font-size: 2rem;
}
.error-message {
  background-color: rgb(184, 230, 230);
  color: rgb(25, 72, 201);
}
.error-message.success-message {
  background-color: rgb(184, 230, 199);
}
.error-message.danger-message {
  background-color: rgb(230, 184, 184);
}
.logo {
  font-size: 2rem;
  text-transform: uppercase;
}
.section-center {
  width: 100%;
  max-width: 1200px;
  padding: 0 0.5rem;
  margin: auto;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-full {
  min-height: calc(100vh - 106px);
}
.star {
  color: var(--violet);
}
.text-one-line {
  font-size: 1.2rem;
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn {
  font-size: 1rem;
  background-color: var(--violet);
  text-transform: uppercase;
  padding: 0.5rem 0.8rem;
  border-radius: 0.7rem;
  font-weight: bold;
  color: var(--light-300);
  cursor: pointer;
}
.btn-trash {
  font-size: 1.1rem;
  color: var(--violet);
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  color: var(--violet);
}
.width-90 {
  width: 90%;
  margin: 0 auto;
}
.padding-block {
  padding: 2rem 0;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* end of global classes */
